<!--
<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">Logo</a>
        <ul>
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="contact">Contato</a></li>
        </ul>
    </div>
</nav>
-->
<mat-toolbar color="primary">
    <button (click)="showMenu()" mat-icon-button>
     <mat-icon>menu</mat-icon>
   </button>
   <span>App</span>
   <span class="example-spacer"></span>
   <label>{{usuariologado}}</label>
 </mat-toolbar>